doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title= title
    link(rel="icon" type="image/x-icon" href="/images/favicon.ico")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/shrinestyle.css')
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
  body
    div(class="topnav" id="myTopnav")
      div(class="navholder")
        img(src="/images/TdA_šipka/300ppi/TdA_sipka_bila.png")
        a(href="/" class="active") Home
        a(href="/about" class="active") About
        a(href="/login" class="active specialbutton") Log in
        a(href="javascript:void(0);" class="icon" onclick="nav_bar_expand()")
          i(class="fa fa-bars")

    section(id="wrapper")
      section(id="placeholder-section")
      section(class="special-section grid")
        h1 About
        div 
          p The coffee is black, with a biscuit as a side, just how he likes it... Tda was a successful business man, recently he's made a deal with one of the most successful companies Tour de App, that's based in internet education and general computer education... Tda was sitting at the café enjoying his morning, his schedule was empty as ever so he was just enjoying life,  his attire saying so fully,  his usual suit being left at home and his outfit screaming lazy sunday morning. The café was mostly empty only soft chatter was heard from inside the café,  the gentle breeze outside running through Tdas long hair...
          p It wasn't long before Tda left the café paying a fat tip as he could obviously afford it, humming his favourite song 'egirls are ruining my life' by corpse on the walk through the park on the way to his mansion. It doesn't take long before he makes it to his mansion, with a massive garden, a pool in the back and two cars at the front. The moment he makes it to his mansion his maids come to his aid asking if he needs anything, as they help him take off his coat. Tda requests a warm bath and one of his maids Static says they'll be on it as they hurry into the bathroom to prepare Tda his bath, Codman, the maid with a fishes head, brings Tda his afternoon tea, exactly how he likes it and the third maid Void takes his coat and shoes for cleaning...
          p After a long relaxing bath Tda decides to invite some of his friends over as he orders his maids to prepare lunch for him and the guests before they arrive.....
    section(id="footer")
      div
        img(src="/images/TdA_LOGO/TeacherDigitalAgency_LOGO_white.png")
        div(id="links")
          a(href="/shrine") religion
          a(href ="https://www.tumblr.com/tv-head-static/725121652738949120/pov-you-hurt-sanses-pookie-sugha-babygirl?source=share") other by creators
  script(src="/js/index.js")