doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title= title
    link(rel="icon" type="image/x-icon" href="/images/favicon.ico")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/dashboardstyle.css')
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
  body
    div(class="topnav" id="myTopnav")
      div(class="navholder")
        img(src="/images/TdA_šipka/300ppi/TdA_sipka_bila.png")
        a(href="/" class="active") Home
        a(href="/about" class="active") About
        a(href="/dashboard" class="active specialbutton") Log in
        a(href="javascript:void(0);" class="icon" onclick="nav_bar_expand()")
          i(class="fa fa-bars")
  
    section(id="wrapper")
      section(id="placeholder-section")
      section(class="special-section grid")
        div(id="picture")
          img(id="picture_url" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimages.vice.com%2Fnoisey%2Fcontent-images%2Fcontentimage%2F96940%2Fpotato-013.jpg&f=1&nofb=1&ipt=7ad289aec740fb5a450232ed8edde2be16e5a02aa9d2bca180c076d9fdee570b&ipo=images")
        div(id="name")
          span(id="title_before")
          span(id="first_name") Jerry 
          span(id="middle_name") The 
          span(id="last_name") Potato
          span(id="title_after") ™
        form(id="edit")
          label(for="title1") Title before:
          br
          input(type="text" id="title1" placeholder="title")
          br
          label(for="fname") First name:
          br
          input(type="text" id="fname" placeholder="first name")
          br
          label(for="mname") Middle name: 
          br
          input(type="text" id="mname" placeholder="middle name (optional)")
          br
          label(for="lname") Last name:
          br
          input(type="text" id="lname" placeholder="last name")
          br
          label(for="title2") Title after:
          br
          input(type="text" id="title2" placeholder="title")
          br
          label(for="location") Location:
          br
          input(type="text" id="location" placeholder="location")
          br
          label(for="price") Price:
          br
          input(type="text" id="price" placeholder="price")
          br
          label(for="telephone") Telephone:
          br
          input(type="text" id="telephone" placeholder="telephone")
          br
          label(for="email") Emails:
          br
          input(type="text" id="email" placeholder="email")
          br
          label(for="claim") Claim:
          br
          input(type="text" id="claim" placeholder="claim")
          br
          label(for="bio") Bio:
          br
          input(type="text" id="bio" placeholder="bio")
          br
          label(for="tags") Tags:
          br
          input(type="text" id="tags" placeholder="tags")
          br
          input(type="submit" id="submit" value="submit")
          

    section(id="footer")
      div
        img(src="/images/TdA_LOGO/TeacherDigitalAgency_LOGO_white.png")
  
  script(src="/js/index.js")
