doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title= title
    link(rel="icon" type="image/x-icon" href="/images/favicon.ico")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/lecturerstyle.css')
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
  body
    div(class="topnav" id="myTopnav")
      div(class="navholder")
        img(src="/images/TdA_šipka/300ppi/TdA_sipka_bila.png")
        a(href="/" class="active") Home
        a(href="/about" class="active") About
        a(href="/login" class="active specialbutton") Log in
        a(href="javascript:void(0);" class="icon" onclick="nav_bar_expand()")
          i(class="fa fa-bars")
  
    section(id="wrapper")
      section(id="placeholder-section")
      section(class="special-section")
        div(id="special-section2")
          div(id="names")
            h1(id="full_name")
              span(id="title_before")
              span(id="first_name")
              span(id="middle_name")
              span(id="last_name")
              span(id="title_after")
          img(id="picture_url")
          p(id="location")
          p(id="price_per_hour")
          div(id="contact")
            p(id="telephone_numbers")
            p(id="emails")
          div(id="info")
            header(id="description") Description:
            p(id="claim")
            div(id="bio")
            button(id="showMore" onclick="Clamp()") Show more
          p(id="tags")
    section(id="footer")
      div
        img(src="/images/TdA_LOGO/TeacherDigitalAgency_LOGO_white.png")
        div(id="links")
          a(href="/shrine") religion
          a(href ="https://www.tumblr.com/tv-head-static/725121652738949120/pov-you-hurt-sanses-pookie-sugha-babygirl?source=share") other by creators
          a(href="/about") more about us
          a(href="/") home
          a(href="https://youtu.be/dQw4w9WgXcQ?si=VCSwSojYUmhys5mr") our Anthem

  
  script(type='text/javascript').
    var uuid = "#{uuid}";
  script(src="/js/index.js")
  script(src="/js/lecturer.js")
