doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title= title
    link(rel="icon" type="image/x-icon" href="/images/favicon.ico")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/lecturerstyle.css')
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
  body
    div(class="topnav" id="myTopnav")
      div(class="navholder")
        img(src="/images/TdA_šipka/300ppi/TdA_sipka_bila.png")
        a(href="/" class="active") Home
        a(href="/lecturer") Lecturer
        a(href="/about") About
        a(href="javascript:void(0);" class="icon" onclick="nav_bar_expand()")
          i(class="fa fa-bars")
  
    section(id="wrapper")
      section(id="placeholder-section")
      section(class="special-section")
        h1 Lecturer
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis quis consectetur amet ratione placeat dicta corporis voluptates quisquam eius asperiores odit, iusto eaque aperiam? Asperiores quos excepturi quaerat eaque sapiente delectus nostrum? Aspernatur ratione eaque, aut quam maiores numquam repellat fugiat voluptatem! Magnam aperiam eum dignissimos impedit minus quia aspernatur quod accusamus similique perspiciatis, porro enim facilis eaque quas exercitationem! Neque eligendi ad suscipit explicabo nam impedit vitae, nulla mollitia voluptates reiciendis sapiente ex accusamus facere at architecto eum quia quos totam necessitatibus a ea minima odit officia. Tempora dolorem qui non consequuntur perferendis maxime cupiditate fuga numquam quam autem.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis quis consectetur amet ratione placeat dicta corporis voluptates quisquam eius asperiores odit, iusto eaque aperiam? Asperiores quos excepturi quaerat eaque sapiente delectus nostrum? Aspernatur ratione eaque, aut quam maiores numquam repellat fugiat voluptatem! Magnam aperiam eum dignissimos impedit minus quia aspernatur quod accusamus similique perspiciatis, porro enim facilis eaque quas exercitationem! Neque eligendi ad suscipit explicabo nam impedit vitae, nulla mollitia voluptates reiciendis sapiente ex accusamus facere at architecto eum quia quos totam necessitatibus a ea minima odit officia. Tempora dolorem qui non consequuntur perferendis maxime cupiditate fuga numquam quam autem.

    section(id="footer")
      div
        img(src="/images/TdA_LOGO/TeacherDigitalAgency_LOGO_white.png")
  script(src="/js/index.js")
