#placeholder-section {
    color: var(--white);
    height: 6em;
}
  
.grid {
    display: grid;
    grid-template-columns: 5em auto;
    grid-template-rows: 5em auto;
}
  
.special-section {
    background: var(--sky-blue);
    padding: 3em;
    font: 1rem Open Sans;
    font-weight: 400;
    color: var(--prussian-blue);
    outline-width: 1em;
    outline-color: var(--white);
    outline-style: solid;
}

#picture {
    grid-row: 1;
    grid-column: 1;
}

#picture_url {
    width: 5rem;
}

#name {
    grid-row: 1;
    grid-column: 2;
    text-align: center;
    display: inline-block;
}

form {
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 3;
}