#placeholder-section {
    color: var(--white);
    height: 6em;
}
  
.grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}
  
.special-section {
    background: var(--sky-blue);
    padding: 3em;
    font: 1rem Open Sans;
    font-weight: 400;
    color: var(--prussian-blue);
    outline-width: 1em;
    outline-color: var(--white);
    outline-style: solid;
}

#picture {
    grid-row: 2;
    grid-column: 1;
    text-align: center;
}

#picture_url {
    width: 5rem;
    text-align: center;
}

#name {
    grid-row: 1;
    grid-column: 1;
    text-align: center;
    display: inline-block;
}

#cards {
    grid-row: 5;
}

#meeting-card {
    display: grid;
    border: var(--jet) .25em solid;
    border-radius: .5em;
    background-color: var(--prussian-blue);
    color: var(--white);
}

#name-card {
    grid-row: 1;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
}

#date-card {
    grid-row: 2;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
}

#place-card {
    grid-row: 3;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
}

#cancel-card {
    grid-row: 4;
    grid-column: 1;
    text-align: right;
    background-color: var(--sunglow);
}

#confirm-card {
    grid-row: 4;
    grid-column: 2;
    text-align: left;
    background-color: var(--sky-blue);
}

#calendar {
    border-collapse: collapse;
    grid-row: 4;
    background-color: var(--jet);
    color: var(--white);
}

#calendar > tr, th, td {
    border: var(--prussian-blue) 0.2em solid;
    text-align: center;
}

#edit {
    grid-row: 3;
    text-align: center;
}

@media (orientation: landscape) {
    .grid {
        grid-template-columns: auto auto;
    }

    #discEdit {
        grid-row-start: 1;
        grid-column: 2;
        grid-row-end: 4;
    }

    #calendar {
        grid-row: 3;
    }

    #calendar > tr, th, td {
        width: 2em;
        height: 2em;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    #discEdit {
        text-align: center;
    }

}