@import url('https://fonts.googleapis.com/css2?family=Lalezar&family=Open+Sans:wght@300;400;600;700;800&display=swap');

:root {
  --prussian-blue: #00384D;
  --sky-blue: #74C7D3;
  --white: #FFFFFFFF;
  --jet: #333;
  --sunglow: #FECB2E;
}

#about {
  display: grid;
  grid-auto-rows: 4em auto auto;
  grid-auto-columns: auto;
  color: var(--white);
}

#about img {
  width: 15em;
  grid-row-start: 2;
  margin-top: 5em;
  margin-left: 1em;
  align-self: center;
  justify-self: center;
}

#about-grid-item {
  grid-row-start: 3;
  grid-column-start: 1;
  text-align: center;
  padding: 6em;
  align-self: center;
  justify-self: center;
}

#about-grid-item h1 {
  font-weight: 400;
  font-family: Lalezar;
  font-size: 1.6rem;
}

#lecturerlist section {
  display: grid;
  text-align: center;
  align-items: center;
  justify-content: center;
  grid-auto-columns: auto;
}

#lectfilterbuttons {
  text-align: left;
}

.lectprice {
  color: var(--sunglow);
  background-color: var(--prussian-blue);
  width: 12rem;
  justify-self: center;
  padding: .15rem;
  border-radius: .4rem;
}

.lectimg {
  max-width: 12.5em;
  border-radius: .59rem;
}

.lectgo {
  background-color: var(--prussian-blue);
  color: var(--white);
  border: none;
  justify-self: center;
  padding: 0.38rem;
  border-radius: .4rem;
}

#lecturerlist h2 {
  text-align: center;
  grid-column-end: 1;
  grid-column-start: 1;
}

.lecttags {
  font-size: .5em;
  grid-column-end: 1;
  grid-column-start: 1;
  opacity: .75;
}

#lecturerlist img {
  width: 100%;
  justify-self: center;
}

#lecturerlist div {
  text-align: center;
  padding-right: 1em;
}

.lecturer {
  border-radius: 1rem;
  margin-bottom: 1.5rem;
}

/*Desktop design*/
@media (orientation: landscape) {
  #about {
    grid-auto-rows: 4em auto;
    grid-auto-columns: 40% 60%;
  }

  #about img {
    grid-row-start: 2;
    margin-top: 0em;
    margin-left: 6em;
  }

  #about-grid-item {
    grid-row-start: 2;
    grid-column-start: 2;
    text-align: right;
    padding-bottom: 8em;
    padding-top: 8em;
  }

  #about-grid-item h1 {
    grid-column-start: 1;
    grid-column-end: 3;
    line-height: 1px;
  }

  #lecturerlist section {
    grid-auto-columns: 25% 75%;
  }
  
  #lecturerlist h2 {
    text-align: left;
    grid-column-end: 3;
    grid-column-start: 1;
  }
  
  .lecttags {
    font-size: .75em;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  #lecturerlist img {
    width: 100%;
  }
  
  #lecturerlist div {
    text-align: right;
    padding-right: 1em;
  }
}
