#placeholder-section {
  color: var(--white);
  height: 6em;
}

.grid {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}

#lecturer {
  grid-column: 1;
  grid-row: 1;
  text-align: center;
}

#picture_url {
  max-width: 12.5em;
  justify-self: center;
  align-self: start;
  grid-column: 1;
  grid-row: 2;
  border-radius: .59rem;
}

/*#full_name {
  grid-column: 1;
  grid-row: 2;
  text-align: center;
  align-self: end;
}*/

#names {
  grid-column: 1;
  grid-row: 3;
  align-self: center;
  justify-self: center;
  font-size: 1.003rem;
  font-weight: bold;
}

#price_per_hour {
  color: var(--sunglow);
  background-color: var(--prussian-blue);
  width: 12rem;
  justify-self: center;
  padding: .15rem;
  border-radius: .4rem;
  font-size: 1.15rem;
}

#info, #contact {
  text-align: center;
  display: grid;
}

#bio {
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

#location {
  font-weight: bold;
}

#showMore {
  background-color: var(--prussian-blue);
  color: var(--white);
  border: none;
  justify-self: center;
  padding: 0.38rem;
  border-radius: .4rem;
  width: 5.5rem;
  font-size: .89rem;
  margin-top: .15rem;
}

#tags {
  color: var(--jet);
  font-weight: bold;
  font-size: .82rem;
  text-align: center;
}

#tags > span {
  margin: .15rem;
  padding: 0.13rem;
  line-height: 1.05rem;
  vertical-align: super;
  display: inline-block;
}

#description {
  font-weight: bold;
}
@media (orientation: landscape) {
  #showMore {
    padding: 0.55rem;
    width: 5.9rem;
    font-size: .87rem;
    margin-top: .25rem;
  }
  
  
  #names {
    font-size: 1.06rem;
    font-weight: bold;
  }
  
  #price_per_hour {
    width: 13rem;
    padding: .22rem;
    font-size: 1.22rem;
}

#tags {
  font-size: .89rem;
}

#tags > span {
  margin: .25rem;
  padding: 0.12rem;
  line-height: 1.2rem;
}
  
}