@import url('https://fonts.googleapis.com/css2?family=Lalezar&family=Open+Sans:wght@300;400;600;700;800&display=swap');

:root {
  --prussian-blue: #00384D;
  --sky-blue: #74C7D3;
  --white: #FFFFFFFF;
  --jet: #333;
  --sunglow: #FECB2E;
}

.special-section {
  background: var(--sky-blue);
  padding: 3em;
  font: 1rem Open Sans;
  font-weight: 400;
  color: var(--prussian-blue);
  outline-width: 1em;
  outline-color: var(--white);
  outline-style: solid;
}

html {
  margin: 0px;
}

body {
  margin: 0px;
  font: 1rem Open Sans;
  background-color: var(--prussian-blue);
  width: 100%;
  display: grid;
}

#wrapper {
  justify-self: center;
  width: 100%;
  max-width: 1280px;
}

a {
  color: #00B7FF;
}

#about {
  display: grid;
  grid-auto-rows: 4em auto auto;
  grid-auto-columns: auto;
  color: var(--white);
}

#about img {
  width: 15em;
  grid-row-start: 2;
  margin-top: 5em;
  margin-left: 1em;
  align-self: center;
  justify-self: center;
}

#about-grid-item {
  grid-row-start: 3;
  grid-column-start: 1;
  text-align: center;
  padding: 6em;
  align-self: center;
  justify-self: center;
}

#about-grid-item h1 {
  font-weight: 400;
  font-family: Lalezar;
  font-size: 1.6rem;
}

#footer {
  background: var(--jet);
  height: 20em;
  display: grid;
}

#footer div {
  justify-self: center;
  display: grid;
  grid-auto-columns: 30% auto;
  width: 100%;
  max-width: 1280px;
}

#footer img {
  width: 80%;
  align-self: center;
  max-width: 15em;
  min-width: 10em;
  padding: 5em;
}

/*Desktop design*/
@media (orientation: landscape) {
  #about {
    grid-auto-rows: 4em auto;
    grid-auto-columns: 40% 60%;
  }

  #about img {
    grid-row-start: 2;
    margin-top: 0em;
    margin-left: 6em;
  }

  #about-grid-item {
    grid-row-start: 2;
    grid-column-start: 2;
    text-align: right;
    padding-bottom: 8em;
    padding-top: 8em;
  }

  #about-grid-item h1 {
    line-height: 1px;
  }
}

/*Navbar (designed desktop first)*/
.topnav {
  overflow: hidden;
  background-color: var(--jet);
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 99;
  left: 0px;
  display: grid;
}

.navholder {
  justify-self: center;
  width: 100%;
  max-width: 1280px;
}

.topnav img {
  height: 2em;
  width: auto;
  float: left;
  padding: 1em;
}

.topnav a {
  float: left;
  display: block;
  color: var(--white);
  text-align: center;
  padding: 1em 1.2em;
  text-decoration: none;
  font-size: 1.2rem;
}

.topnav a:hover {
  background-color: var(--white);
  color: var(--jet);
}

.topnav .icon {
  display: none;
}

@media (orientation: portrait) {
  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive {
    position: fixed;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .topnav.responsive img {
    float: none;
  }
}