@import url('https://fonts.googleapis.com/css2?family=Lalezar&family=Open+Sans:wght@300;400;600;700;800&display=swap');

:root {
  --prussian-blue: #00384D;
  --sky-blue: #74C7D3;
  --white: #FFFFFFFF;
  --jet: #333;
  --sunglow: #FECB2E;
}

.special-section {
  background: var(--sky-blue);
  padding: 3em;
  font: 1rem Open Sans;
  font-weight: 400;
  color: var(--prussian-blue);
  outline-width: 1em;
  outline-color: var(--white);
  outline-style: solid;
}

html {
  margin: 0px;
}

body {
  margin: 0px;
  font: 1rem Open Sans;
  background-color: var(--prussian-blue);
  width: 100%;
  display: grid;
}

#wrapper {
  justify-self: center;
  width: 100%;
  max-width: 1280px;
}

a {
  color: #00B7FF;
}

#footer {
  background: var(--jet);
  height: 20em;
  display: grid;
}

#footer div {
  justify-self: center;
  display: grid;
  grid-auto-columns: 30% auto;
  width: 100%;
  max-width: 1280px;
}

#footer img {
  width: 80%;
  align-self: center;
  max-width: 15em;
  min-width: 10em;
  padding: 5em;
}

#footer #links {
  grid-column: 2;
  height: fit-content;
  justify-content: center;
  align-self: center;
}

#links a {
  width: fit-content;
  color: var(--sunglow);
  opacity: .69;
  text-decoration: none;
  font-weight: bold;
}

#links a:hover{
  opacity: .96;
}

/*Navbar (designed desktop first)*/
.topnav {
  overflow: hidden;
  background-color: var(--jet);
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 99;
  left: 0px;
  display: grid;
}

.navholder {
  justify-self: center;
  width: 100%;
  max-width: 1280px;
}

.topnav img {
  height: 2em;
  width: auto;
  float: left;
  padding: 1em;
}

.topnav .specialbutton {
  border-radius: 0.3em;
  float: right;
  display: block;
  color: var(--jet);
  background-color: var(--sunglow);
  text-align: center;
  padding: 1em 1.2em;
  text-decoration: none;
  font-size: 1.2rem;
  width: fit-content;
}

.topnav .specialbutton:hover {
  background-color: var(--white);
  color: var(--jet);
}

.topnav a {
  float: left;
  display: block;
  color: var(--white);
  text-align: center;
  padding: 1em 1.2em;
  text-decoration: none;
  font-size: 1.2rem;
}

.topnav a:hover {
  background-color: var(--white);
  color: var(--jet);
}

.topnav .icon {
  display: none;
}

.form, #edit > input{
  border-radius: 1em;
  background: var(--prussian-blue);
  color: var(--white);
}

#booksub, .logsub, #edit > button{
  border-radius: 1em;
  background: var(--sunglow);
}

@media (orientation: portrait) {
  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive {
    position: fixed;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .topnav.responsive img {
    float: none;
  }
}